
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Description" content="">
    <meta name="keywords" content="">
    <title>暂无开通权限</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
        <body>
                <!-- main -->
                <div class="main" id="app">
                    <h1>Skills Profile Web</h1>
                    <div class="main-info w3l">
                        <div class="main-row"><!-- main-row-one -->
                            <div class="profile-grid logo wthree">
                                <img src="../image/me.jpg" alt="">
                                <h2>Miss.Anna </h2>
                                <p>技术展示</p>
                                
                            </div>
                            <h3 class="title">Skills</h3>
                                <div class="col-md-6 skills-right bar_group">
                                
                                <div class='bar_group__bar thin' label='Lorem ipsum &nbsp;&nbsp; 80%' value='200'></div>
                                <div class='bar_group__bar thin' label='Quis nostrud &nbsp;&nbsp; 100%' value='250'></div>
                                <div class='bar_group__bar thin' label='Sed do eiusmod &nbsp;&nbsp; 72%' value='180'></div>
                                <div class='bar_group__bar thin' label='Ut enim adnim &nbsp;&nbsp; 88%' value='220'></div>
                            </div>
                            <!--bar-js-->
                            <script src="js/bars.js"></script>
                            <div class="social-icons agileits">
                                    <ul>
                                        <li><a href="#"></a></li>
                                        <li><a href="#" class="fb"></a></li>
                                        <li><a href="#" class="be"></a></li>
                                        <li><a href="#" class="gg"></a></li>
                                    </ul>	
                                </div>
                            <div class="clear"> </div>
                        </div>	
                    </div>	
                    <!-- copyright -->
                    <div class="copyright">
                        <p> © 2017 Skills Profile .</p>
                    </div>
                    <!-- //copyright -->
                </div>	
                <!-- main -->
            </body>
</body>
</html>
